@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  background: #F6F7FF;
}
@font-face {
  font-family: gilroy-regular;
  src: url(../public/Gilroy/Gilroy-Regular.ttf);
}
.gilroy-regular{
  font-family: gilroy-regular;
}

@font-face {
  font-family: gilroy-light;
  src: url(../public/Gilroy/Gilroy-Light.ttf);
}
.gilroy-light{
  font-family: gilroy-light;
}

@font-face {
  font-family: gilroy-semibold;
  src: url(../public/Gilroy/Gilroy-SemiBold.ttf);
}
.gilroy-semibold{
  font-family: gilroy-semibold;
}