@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  background: #F6F7FF;
}
@font-face {
  font-family: gilroy-regular;
  src: url(../public/Gilroy/Gilroy-Regular.ttf);
}
.gilroy-regular{
  font-family: gilroy-regular;
}

@font-face {
  font-family: gilroy-light;
  src: url(../public/Gilroy/Gilroy-Light.ttf);
}
.gilroy-light{
  font-family: gilroy-light;
}

@font-face {
  font-family: gilroy-semibold;
  src: url(../public/Gilroy/Gilroy-SemiBold.ttf);
}
.gilroy-semibold{
  font-family: gilroy-semibold;
}

@font-face {
  font-family: gilroy-bold;
  src: url(../public/Gilroy/Gilroy-Bold.ttf);
}
.gilroy-bold{
  font-family: gilroy-bold;
}



@media screen and (max-width: 400px) {
  .layout{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .sidebar{
    position: absolute;
    z-index: 11;
    
  }
  .sidebar-container{
    display: block;
    justify-content: space-between;
    align-content: center;
    width: 400px;
    padding: 20px 20px 5px 20px;
    z-index: 11;
  }
  .topbar{
    display: block;
    align-items: center;
    position: absolute;
    left: 0;
    top: 100px;
  }
  .topbar-item{
    display: block;
    justify-content: center;
    align-content: center;
  }
  .topbar-container{
    display: block;
  }
  .topbar-input{
    width: 350px;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .topbar-icons{
    display: block;
    padding-left: 0;
    margin-top: 10px;
  }
  .topbar-add{
    width: 150px;
  }
  .topbar-product{
    width: 350px;
    padding-right: 10px;
  }
  .topbar-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-top: 10px;
  }
  .topbar-box{
    padding-left: 10px;
  }
  .question{
    margin-top: 0;
  }
  .question-title{
    margin-top: 0;
    margin-bottom: 0;
  }
  .accordion-item{
    width: 350px;
    margin-bottom: 10px;
  }
  .accordion-question{
    height: 50px;
  }
  .accordion-icons{
    width: 30px;
    height: 30px;
  }
  .accordion-title{
    margin-left: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar{
    z-index: 11;
    
  }
  .button-menu{
    cursor: none;
  }
  .sidebar-container{
    width: 350px;
    padding: 20px 20px 5px 20px;
    z-index: 11;
  }
  .sidebar-pages{
    padding: 0;
  }
  .topbar{
    display: block;
    align-items: center;
  }
  .topbar-item{
    display: block;
    justify-content: center;
    align-content: center;
  }
  .topbar-container{
    display: block;
  }
  .topbar-input{
    width: 350px;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .topbar-icons{
    display: block;
    align-items: center;
    padding-left: 0;
    margin-top: 10px;
  }
  .topbar-add{
    width: 150px;
  }
  .topbar-product{
    width: 350px;
    padding-right: 10px;
  }
  .topbar-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-top: 10px;
  }
  .topbar-box{
    padding-left: 10px;
  }
  .question{
    margin-top: 0;
  }
  .question-title{
    margin-top: 0;
    margin-bottom: 0;
  }
  .accordion-item{
    width: 350px;
    margin-bottom: 10px;
  }
  .accordion-question{
    height: 50px;
  }
  .accordion-icons{
    width: 30px;
    height: 30px;
  }
  .accordion-title{
    margin-left: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .layout{
    display: flex;
    /* align-items: center; */
  }
  /* .topbar{
    display: block;
    align-items: center;
  } */
  .topbar-item{
    display: block;
    justify-content: center;
    align-content: center;
  }
  .topbar-container{
    margin: 0;
  }
  .topbar-input{
    width: 250px;
  }
  .topbar-icons{
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-top: 10px;
  }
  .topbar-add{
    width: 150px;
  }
  /* .topbar-product{
    width: 150px;
    padding-right: 10px;
  } */
  .topbar-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
  }
  .topbar-box{
    padding-left: 10px;
  }
  .question{
    margin-top: 0;
  }
  .question-title{
    margin-top: 0;
    margin-bottom: 0;
  }
  .accordion-item{
    width: 620px;
    /* height: 50px; */
    margin-bottom: 10px;
  }
  .accordion-question{
    height: 50px;
  }
  .accordion-icons{
    width: 30px;
    height: 30px;
  }
  .accordion-title{
    margin-left: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1280px) {
  .layout{
    display: flex;
    /* align-items: center; */
  }
  /* .topbar{
    display: block;
    align-items: center;
  } */
  .topbar-item{
    display: block;
    justify-content: center;
    align-content: center;
  }
  .topbar-container{
    margin: 0;
  }
  .topbar-input{
    /* width: 250px; */
  }
  .topbar-icons{
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-top: 10px;
  }
  .topbar-add{
    width: 150px;
  }
  /* .topbar-product{
    width: 150px;
    padding-right: 10px;
  } */
  .topbar-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
  }
  .topbar-box{
    padding-left: 10px;
  }
  .question{
    margin-top: 0;
  }
  .question-title{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .accordion-item{
    width: 815px;
    margin-bottom: 10px;
  }
  .accordion-question{
    height: 60px;
  }
  .accordion-icons{
    width: 40px;
    height: 40px;
  }
}
.App {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  width: 80%;
  height: 190px;
  background-color: var(--gh-blue-3);
  background-attachment: fixed;
  background-size: cover;
}
.header-text-1,
.header-text-2 {
  margin-bottom: 20px;
  color: #fff;
}

.expendable-button {
  background-color: transparent;
  color: var(--gh-blue-5);
  gap: 8px;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  width: 2px;
  margin-right: 10px;
}

.main-title {
  margin: 20px 0 10px 0;
  text-align: left;
  font-weight: 500;
}

.main-title-underline {
  width: 320px;
  text-align: left;
  height: 0.15rem;
  background: var(--gh-blue-10);
  margin-bottom: 40px;
}
.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  width: 600px;
  font-size: 20px;
  margin-top: 10px;
}

.underline {
  width: 100%;
  height: 0.15rem;
  background: var(--gh-blue-2);
  margin: 20px auto;
}
.column-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.column-container:hover {
  background-color: var(--gh-blue-1);
  width: 100%;
}

.text-container {
  text-align: left;
  max-height: 350px;
  opacity: 1;
  animation-name: textanimate;
  animation-duration: 1s;
}

@keyframes textanimate {
  0% {
    opacity: 0;
    max-height: 15px;
  }
  100% {
    opacity: 1;
    max-height: 350px;
  }
}